html {
    height: 100%;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #333333;
}

body {
    box-sizing: border-box;
}

div {
    margin: 0;
    padding: 0;
}

.displayNone {
    display: none;
}

.is-invisible {
    opacity: 0;
}

.is-hidden {
    display: none
}

/*************************
*** Buttons
***************************/

button {
    cursor: pointer;
}

.simpleButton {
    width:100px;
    height:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 10pt;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background: #bcc2c6;
    border: 0;
    border-radius: 7px;
    outline: none;
}

.simpleButton:hover {
    color: #222222;
    background: #e0e6ea;
}

.simpleButton:disabled {
    color: #949494;
    background: #454545;
    pointer-events: none;
    cursor: default;
}
/*********************************/
.mainContainerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*********************************/
/* LEFT CONTROLS */
/*********************************/
.leftControlsDiv {
    display: flex;
    flex-direction: column;
    background: yellow;
}

.volSlider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}

.muteButton {

}

/*********************************/
/* CENTER CANVAS */
/*********************************/
.canvasContainerDiv {
    position: relative;
    height: 300px;
    width: 800px;
}

.waveCanvas {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.soundCanvas {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

/*********************************/
/* RIGHT CONTROLS */
/*********************************/

.rightControlsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    background: green;
}

.presetDiv {

}


.presetButton {
    display: block;
}

.modeDiv {

}

.modeButton {
    display: block;
}


.bottomControlsDiv {

}



