html {
    height: 100%;
}

html, body {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    transform: scale(1);
    -webkit-transform: scale(1);
    background-image: url('../assets/images/bkgtile.png');
    background-repeat: repeat;
}

div {
    margin: 0;
    padding: 0;
}

.displayNone {
    display: none;
}

.is-invisible {
    opacity: 0;
}

.is-hidden {
    display: none
}

/*************************
*** Buttons
***************************/

button {
    cursor: pointer;
}

.simpleButton {
    width:100px;
    height:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 10pt;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background: #bcc2c6;
    border: 0;
    border-radius: 7px;
    outline: none;
}

.simpleButton:hover {
    color: #222222;
    background: #e0e6ea;
}

.simpleButton:disabled {
    color: #949494;
    background: #454545;
    pointer-events: none;
    cursor: default;
}

.largeButton {
    width: 100%;
}

.standardButton {
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    margin-top: 0;
    text-decoration: none;
    padding: 0;
}

/*********************************/
.mainContainerDiv {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/sf8ktext.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    align-content: center;
    overflow: hidden;
}

/*********************************/
/* LEFT CONTROLS */
/*********************************/
.leftControlsDiv {
    display: flex;
    flex-direction: column;
}

.leftControlsTopRowDiv {
    display: flex;
    flex-direction: row;
}

.playButton {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/images/play.svg');
}

.playButtonPause {
    background-image: url('../assets/images/pause.svg');
}

.muteButton {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/images/mute.svg');
}

.muteButtonUnmute {
    background-image: url('../assets/images/unmute.svg');
}

.volPanTouchPadDiv {
}

.volPanTouchPadCanvas {
    border-radius: 5px;
    border: 2px solid black;
}

/*********************************/
/* CENTER CANVAS */
/*********************************/
.canvasContainerDiv {
    position: relative;
    height: 500px;
    width: 800px;
}

.waveCanvas {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    filter: blur(5px);

}

.soundCanvas {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.canvasBlendLayer {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(0.25turn, #F735EC, #4A0BA8);
    mix-blend-mode: multiply;
}

/*********************************/
/* RIGHT CONTROLS */
/*********************************/

.rightControlsDiv {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rightControlsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fullScreenButton {
    flex: 1;
    font-family: 'Black Ops One';
    font-weight: normal;
    font-size: 5vmin;
    line-height: 5vmin;
}

.recordButton {
    flex: 1;
    font-family: 'Black Ops One';
    font-weight: normal;
    font-size: 5vmin;
    line-height: 5vmin;
}
.presetDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.presetButton {
    flex: 1;
    font-family: 'Black Ops One';
    font-weight: normal;
    font-size: 15vmin;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    /*border: 2px solid black;*/
    outline: none;
    line-height: 15vmin;
    padding: 0;
    box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.modeDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.modeButton {
    flex: 1;
    background-image: url('../assets/images/LoopModeIcon.svg'), linear-gradient(rgb(16, 10, 255) 0%, rgb(16, 10, 172) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}

.modeButtonContinue {
    flex: 1;
    background-image: url('../assets/images/ContinueModeIcon.svg'), linear-gradient(rgb(16, 10, 255) 0%, rgb(16, 10, 172) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

